.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
}

.axis path,
.axis line {
  stroke: rgba(255, 255, 255, 0.08);
}

.grid path,
.grid line {
  stroke: rgba(255, 255, 255, 0.06);
}
